* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Geneva;
}

:root {
    --main-background-color: white;
    --main-font-color: #000;
    --dark-background-color: #3B4954;
    --dark-background-font-color: white;
    --accent-color-primary: #E6E6FA;
    --accent-color-secondary: #E0FFFF;
    --accent-font-color: #000;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    width: 100%;
    top: 0;
    height: 50px;
    justify-content: space-between;
    font-family: cursive;
    background-color: var(--dark-background-color);
    color: var(--dark-background-font-color);
}



.nav-left {
    padding: 0 0 0 15px;
    font-size: 24px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    font-size: 20px;
    list-style-type: none;
}

.nav-right-icon {
    display: none;
    position: absolute;
    right: 5px;
}

#nav-index,
#nav-about,
#nav-portfolio,
#nav-contact {
    padding: 0 5px;
}

#nav-index:hover,
#nav-about:hover,
#nav-portfolio:hover,
#nav-contact:hover,
.nav-left:hover,
.foot-icon:hover {
    cursor: pointer;
    color: lightgrey;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: absolute;
    width: 100%;
    top: 100px;
}

.contact-form {
    width: 400px;
    background-color: lightgrey;
    display: flex;
    border: 1px solid var(--dark-background-color);
}

.contact-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-header {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.form-content {
     /* display: block; */
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    /* align-items: center;  */
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.form-body {
    height: 20px;
    padding: 5px;
    margin-bottom: 5px;
}

.form-labels {
    font-size: 10px;
}

#email-address {
    width: 100%;
}

#phone-number {
    width: 100%;
}

#message {
    width: 100%;
    height: 100px;
    padding: 5px;
    text-align: left;
    justify-content: start;
    
}


.contact-methods {

}

.contact-form {
    /* display: block; */
}

#contact-button {
    width: 100px;
    height: 40px;
    background-color: green;
    color: white;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    justify-content: center;
    background-color: var(--dark-background-color);
    color: var(--dark-background-font-color);
    margin: 10px 0 0 0;
}

.foot-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    list-style-type: none;
}

.foot-icon {
    margin: 0 5px;
}

@media (max-width: 550px) {
    .container {
        width: 100%;
        height: 100%;
    }    

    .nav-right-icon {
        display: block;
        position: absolute;
        right: 10px;
        font-size: 18px;
    }
    
    .nav-right {
        display: none;
        position: absolute;
        top: 35px;
        right: 8px;
        z-index: 1001;
        background-color: white;
        color: var(--dark-background-color); 
        padding: 0px;
    }

    .right-content {
        border: solid 1px var(--dark-background-color);
    }

    /* .nav-right-icon:hover .nav-right .nav-right-icon {
        display: block;
        color: red;
        background-color: red; */
    }
}