* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Geneva;
}

:root {
    --main-background-color: white;
    --main-font-color: #000;
    --dark-background-color: #3B4954;
    --dark-background-font-color: white;
    --accent-color-primary: #E6E6FA;
    --accent-color-secondary: #E0FFFF;
    --accent-font-color: #000;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    width: 100%;
    top: 0;
    height: 50px;
    justify-content: space-between;
    font-family: cursive;
    background-color: var(--dark-background-color);
    color: var(--dark-background-font-color);
}



.nav-left {
    padding: 0 0 0 15px;
    font-size: 24px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    font-size: 20px;
    list-style-type: none;
}

.nav-right-icon {
    display: none;
    position: absolute;
    right: 5px;
}

#nav-index {
    padding: 0 5px;
}

#nav-about {
    padding: 0 5px;
}

#nav-portfolio {
    padding: 0 5px;
}

#nav-contact {
    padding: 0 5px;
}

#nav-index:hover,
#nav-about:hover,
#nav-portfolio:hover,
#nav-contact:hover,
.nav-left:hover,
.foot-icon:hover {
    cursor: pointer;
    color: lightgrey;
}

.picture-container {
    width: 100%;
    height: 600px;
    background-image: url("cover-photo-me.jpg");
    background-position: center;
    background-size: cover;    
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.me-header {
    font-size: 20px;
    border-bottom: 1px solid var(--dark-background-color);
}

.me-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.me-picture{
}

.cooking-image {
    width: 385px;
    height: 385px;
    padding: 5px;
    border: 1px solid var(--dark-background-color);
}

.me-blurb {
    width: 397px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-header {
    
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    justify-content: center;
    background-color: var(--dark-background-color);
    color: var(--dark-background-font-color);
}

.foot-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    list-style-type: none;
}

.foot-icon {
    margin: 0 5px;
}

@media (max-width: 550px) {
    .container {
        width: 100%;
        height: 100%;
    }    

    .nav-right-icon {
        display: block;
        position: absolute;
        right: 10px;
        font-size: 18px;
    }
    
    .nav-right {
        display: none;
        position: absolute;
        top: 35px;
        right: 8px;
        z-index: 1001;
        background-color: white;
        color: var(--dark-background-color); 
        padding: 0px;
    }

    .right-content {
        border: solid 1px var(--dark-background-color);
    }

    /* .nav-right-icon:hover .nav-right .nav-right-icon {
        display: block;
        color: red;
        background-color: red; */
    }
}